<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @black_friday.user_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @black_friday.product_id %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @black_friday.gender %>
</p>

<p>
  <strong>Age:</strong>
  <%= @black_friday.age %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @black_friday.occupation %>
</p>

<p>
  <strong>City category:</strong>
  <%= @black_friday.city_category %>
</p>

<p>
  <strong>Stay in current city years:</strong>
  <%= @black_friday.stay_in_current_city_years %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @black_friday.marital_status %>
</p>

<p>
  <strong>Product category 1:</strong>
  <%= @black_friday.product_category_1 %>
</p>

<p>
  <strong>Product category 2:</strong>
  <%= @black_friday.product_category_2 %>
</p>

<p>
  <strong>Product category 3:</strong>
  <%= @black_friday.product_category_3 %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @black_friday.purchase %>
</p>

<%= link_to 'Edit', edit_black_friday_path(@black_friday), class: "waves-effect waves-light btn" %> |
<%= link_to 'Back', black_fridays_path, class: "waves-effect waves-light btn" %>
